.home_navbar{
    background-color: #000000;
    color: #ffffff!important;
    margin: 0px;
    padding: 0px;
    border-radius: 0!important;
}
.home_navbar ul li a{
    color: #ffffff!important;
}
.home_navbar .navbar-brand{
    color: #ffffff;
}

.home_sidebar .btn{
    height:27.1px ;
}